<h1>Edit User Details</h1>

<%= form_with model: @user, local: true do |form| %>
  <% if @user.errors.any? %>
    <div class="errors">
      <h2>Errors:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
  <%= form.label :birthday, "Date of Birth" %><br />
  <%= form.date_select :birthday, order: [:year, :month, :day], prompt: { year: 'Year', month: 'Month', day: 'Day' }, start_year: Date.today.year - 100, end_year: Date.today.year - 18 %>
</div>
  <div>
  <%= form.submit "Update User Name" %>
</div>
<% end %>

<%= link_to 'Back', @Users %>
