<h1>Edit Car Details</h1>

<%= form_with model: @car, local: true do |form| %>
  <% if @car.errors.any? %>
    <div class="errors">
      <h2>Errors:</h2>
      <ul>
        <% @car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price, step: 0.01 %>
  </div>
  <div>
  <%= form.submit "Update Book" %>
</div>
<% end %>

<%= link_to 'Back', @car %>
